@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


// icon 
@mixin icon{
    width: 40px;
    height: 40px;
}

// section name
@mixin headings{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 3em;
    font-family: "Moon Dance", serif;
    font-weight: lighter;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 70%;
    margin: auto;
}

header{
    background-color: whitesmoke;
    padding: 20px 0;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1{
            img{
                @include icon();
            }
            display: flex;
            align-items: center;
            color: brown;
            text-transform: uppercase;
            font-family: "Moon Dance", serif;
        }
        nav{
            ul{
                display: flex;
                gap: 20px;
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        text-transform: capitalize;
                        color: black;
                        font-family: 'Times New Roman', Times, serif;
                        font-size: 1em;
                        font-weight: lighter;

                        &:hover{
                            color: green;
                        }
                    }
                }
            }
        }
    }
}

.hero{
    background-color: whitesmoke;
    padding: 50px 0;
    .container{
        display: flex;
        gap: 50px;
        align-items: center;

        .hero-content,
        .slider{
            width: 50%;
        }
        .hero-content{
            display: flex;
            flex-direction: column;
            gap: 20px;

            h2{
                display: flex;
                flex-direction: column;

                font-size: 3em;
                font-family: "Dancing Script", serif;
                font-weight: bold;
                font-style: normal;
                text-transform: uppercase;
            }
            p{
                font-family: "Moon dance", serif;
                font-size: 1.6em;
                font-weight: lighter;
                line-height: 20px;
            }
            input[type=button]{
                width: 200px;
                border: none;
                padding: 10px;
                background-color: brown;
                color: white;
                font-size: 1em;
                text-transform: uppercase;
                border-radius: 0 10px 0 10px;
            }
        }
        .slider{
            img{
                width: 500px;
                height: 500px;
                object-fit: cover;
                border-radius: 50%;
                border: 5px solid brown;
            }
        }
    }
}

// services
.service{
    padding: 50px 0;
    .service-content{
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;

        h3{
            @include headings();
            img{
                @include icon();
            }
        }
        input[type=button]{
            width: 200px;
            border: none;
            padding: 10px;
            background-color: brown;
            color: white;
            font-size: 1em;
            text-transform: uppercase;
            border-radius: 0 10px 0 10px;
        }
        .services{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 20px;

            .box{
                background-color: #ffffff;
                border: 1px solid #e0e0e0;
                border-radius: 10px;
                padding: 50px 25px;
                text-align: center;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                width: calc(35.333% - 20px); 
                max-width: 350px; 

                &:hover{
                    border-bottom: 5px solid green;
                }
            }
        }
    }
}

// About
.about{
    background-color: whitesmoke;
    padding: 50px 0;
    .about-content{
        display: flex;
        gap: 20px;

        .box{
            width: 50%;
            height: 60vh;
        }
        .box:nth-child(1){
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            h3{
                @include headings();

                img{
                    @include icon();
                }
            }

            input[type=button]{
                width: 200px;
                border: none;
                padding: 10px;
                background-color: brown;
                color: white;
                font-size: 1em;
                text-transform: uppercase;
                border-radius: 0 10px 0 10px;
            }
        }
        .box:nth-child(2){
            position: relative;
            display: flex;
            flex-direction: column;

            img:nth-child(1){
                width: 400px;
                height: 400px;
            }
            img:nth-child(2){
                width: 250px;
                height: 250px;
                position: absolute;
                right: 0;
                bottom: 0;
            }
            img{
                border-radius: 50%;
                border: 5px solid brown;
            }
        }
    }
}

// blog section
.blog{
    padding: 50px 0;
    .blog-content{
        display: flex;
        flex-direction: column;
        gap: 20px;

        h3{
            @include headings();
            img{
                @include icon();
            }
        }
        .blog-box{
            display: flex;
            gap: 20px;

            .box{
                width: 50%;
                box-shadow: 2px 2px 1px 1px rgb(78, 68, 68);
                img{
                    width: 100%;
                }
                h4{
                    padding: 50px 50px 0 50px;
                }
                p{
                    padding: 0 50px 50px 50px;
                }
            }
        }
    }
}
.contact{
    padding: 50px 0;
    .contact-content{
        display: flex;
        .box{
            width: 100%;
            h4{
                @include headings();
                img{
                    @include icon();
                }
            }
            form{
                
                display: flex;
                flex-direction: column;
                gap: 20px;

                input[type=text]{
                    padding: 10px;
                    border: none;
                    box-shadow: 1px 2px 3px rgb(133, 93, 93);

                    
                }
                input[type=button]{
                    width: 200px;
                    border: none;
                    padding: 10px;
                    background-color: brown;
                    color: white;
                    font-size: 1em;
                    text-transform: uppercase;
                    border-radius: 0 10px 0 10px;
                }
                textarea{
                    height: 20vh;
                    border: none;
                    box-shadow: 1px 2px 3px rgb(133, 93, 93);
                }
            }
        }
    }
}